// esquema de colores

// primer esquema de color
$greenwater: #7cea9c;
$marine: #2d3047;
$blackgrey: #071013;
$white: #ffffff;

// tipografia
$lato:  'Lato', sans-serif;

// Brakpoints
$viewport-small: 576px;
$viewport-medium: 768px;
$viewport-large: 992px;
$viewport-xlarge: 1200px;

// Numbers of Columns
$number-columns: 12;
